<section class="sec-p">
    <h2 id="title-cat-p"><%- titulo %></h2>
    <div class="container-p">
        <% if (productos && productos.length > 0) { %>
            <% productos.forEach(prod => { %>
                <div class="card-producto">
                    <img src="<%= prod.imagen %>" alt="<%= prod.nombre %>">
                    <h3><%= prod.titulo %></h3>
                    <p>Precio: $<%= prod.precio %></p>
                    <button>Ver mas</button>
                </div>
            <% }); %>
        <% } else { %>
            <p>No hay productos disponibles en esta categoría.</p>
        <% } %>
    </div>
</section>